body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

p {
  color: gray;
  letter-spacing: 2px;
}
